body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axislabel {
    text-anchor: middle;
    font-weight: bold,bold;
    font-size: 12pt;
}

.x.axis path {
}

.line {
  fill: none;
  stroke-width: 2.5px;
}

.dots {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.temp {
    fill: orange;
    stroke: orange;
}
.dwpt {
    fill: teal;
    stroke: teal;
}
